@font-face{
    font-family: "Caslon-Bold";
    src: url(./items/Font/F37Caslon-ExtraBoldDisplay.otf);
}

@font-face{
    font-family: "Caslon-Regular";
    src: url(./items/Font/F37Caslon-RegularDisplay.otf);
}

@font-face{
    font-family: "Caslon-Semibold";
    src: url(./items/Font/F37Caslon-SemiBoldDisplay.otf);
}
/* Header*/

*{
  margin: 0;
}

#multicouche {
display: flex;
justify-content: center;
    
  }
  #multicouche img {
    align-items: center;
    top: 0;
    left: 0;
  }
   /*header*/
  #couche1 {
  width:150px;
    z-index: 1;
  }
   
  #couche2 {   
    
   
    z-index: 2;
  }


header
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('./items/VECTORIEL SVG/header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    box-shadow: 0px 3px 8px black;
}
    
#bandeblanc{
  background-color: white;
  height: 5px;
  box-shadow: 0px 2px 8px black;
  margin-bottom: 200px;
}

/*fin du header*/

#fond{
  background-color: hsl(0, 0%, 0%,0.630);
}
h1{ 
  font-family: "Caslon-Bold";
    color:#ffffff;
    font-size: 5em;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 25% 10% 25%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 30px;
    
}
.banner{
  box-shadow: 0px 1px 10px #FAB711;
}


h2
{
    font-size: 40px;
}


body
{
  height: 100%;
	background-attachment: fixed;
  background-image: url('./items/VECTORIEL SVG/fond\ site.svg');
	Background-repeat: no-repeat;
	Background-size: cover;
	background-position: center;
}


#fond{
  background:linear-gradient(45deg, rgb(0, 0, 0,0.630)30%,rgb(250, 183, 17,0.400) 50%, rgb(0, 0, 0,0.630))30%;
}

.banner{
  box-shadow: 0px 1px 10px rgb(250, 183, 17);
}






/*Style menu ici */
#menu{
  height: 500px;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  
 
}
#menu ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

nav li{
  list-style-type: none;
}

li .icone:hover{
height: 400px;
width:275px;
transition: 1.5s;
}

.icone{
  border-radius: 90px;
  height: 250px;
  width:175px;
}

#menu #imgk-pop,#imgrock{
  display: flex;
  align-items: end;
}



p
{
font-size: 20px;
}


::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  border: 10px solid #1a1a1ad1;
  border-radius: 10px;
  display:none;
  overflow-x: hidden;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient( 90deg,#000000, #FAB711, #000000);
  border-radius: 50px; 
}

#fleche{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

#retourhaut{
  display: flex;
  position: relative;
  height: 60px;
  width: 60px;

}

#texteretour{

  font-style: oblique;
  text-align: left;
  text-shadow: 1px 1px 2px  #FAB711;

}

/* footer */
footer{
  display: block;
  background-image: url('./items/VECTORIEL SVG/footer.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 0;
  margin-top: 5%;
  box-shadow: 0px -3px 8px black;
}
#navpiedpage> ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#navpiedpage> ul> li{
  display: inline-block;
  padding-top: 2px;
}
#boutonfooter{
  display: bloc;
  width: 110px;
}
#aface{
  display: bloc;
  margin-left: 4%;
}
#atwit{
  display: bloc;
  margin-left: 3%;
}
#ainsta{
  display: bloc;
  margin-left: 5%;
}
#atik{
  display: bloc;
  margin-left: 3%;
}
#alink{
  display: bloc;
  margin-left: 5%;
}
#asnap{
  display: bloc;
  margin-left: 3%;
}
