@font-face{
    font-family: "Caslon-Bold";
    src: url(./items/Font/F37Caslon-ExtraBoldDisplay.otf);
}

@font-face{
    font-family: "Caslon-Regular";
    src: url(./items/Font/F37Caslon-RegularDisplay.otf);
}

@font-face{
    font-family: "Caslon-Semibold";
    src: url(./items/Font/F37Caslon-SemiBoldDisplay.otf);
}

*{
  margin: 0;
}

#multicouche {
display: flex;
justify-content: center;
    
  }
  #multicouche img {
    align-items: center;
    top: 0;
    left: 0;
  }
   
  #couche1 {
  width:150px;
    z-index: 1;
  }
   
  #couche2 {   
    
   
    z-index: 2;
  }


header
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('./items/VECTORIEL SVG/header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    box-shadow: 0px 3px 8px black;
}
    
#bandeblanc{
  background-color: white;
  height: 5px;
  box-shadow: 0px 2px 8px black;
  margin-bottom: 200px;
}


#fond{
  background-color: hsl(0, 0%, 0%,0.630);
}
h1{ 
    color:#FAB711;
    font-size: 3em;
    margin: 0px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.banner{
  box-shadow: 0px 1px 10px #FAB711;
}


h2
{
    font-size: 40px;
}


body
{
  height: 1200px;
	background-attachment: fixed;
  background-image: url('./items/VECTORIEL SVG/fond\ site.svg');
	Background-repeat: no-repeat;
	Background-size: cover;
	background-position: center;

}



/*Style menu ici */




.historique
{
    justify-content: end;    
    background-color: rgba(0, 0, 0, 0.486);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    height: auto;
    padding: 50px;
    width: 500px;
    text-align: justify;
    margin-right: 0px;
    margin-left: auto;
}

p
{
font-size: 20px;
}


#fleche{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
#retourhaut{
  display: flex;
  position: relative;
  height: 60px;
  width: 60px;

}

#texteretour{

  font-style: oblique;
  text-align: left;
  text-shadow: 1px 1px 2px  #FAB711;

}

/* footer */
footer{
  display: block;
  background-image: url('./items/VECTORIEL SVG/footer.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 110px;
  margin-bottom: 0;
  margin-top: 60px;
  box-shadow: 0px -3px 8px black;
}
#navpiedpage> ul{
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
#navpiedpage> ul> li{
  display: inline-block;
  padding-top: 2px;
}
#boutonfooter{
  display: bloc;
  width: 110px;
}
#aface{
  display: bloc;
  margin-left: 60px;
}
#atwit{
  display: bloc;
  margin-left: 40px;
}
#ainsta{
  display: bloc;
  margin-left: 70px;
}
#atik{
  display: bloc;
  margin-left: 40px;
}
#alink{
  display: bloc;
  margin-left: 70px;
}
#asnap{
  display: bloc;
  margin-left: 40px;
}
#divlargeur{
  width: 60px;
}