@font-face {
    font-family: kaushanscript;
    src: url(./items/Font/kaushanscript-regular-webfont.woff2)format(woff2),
         url(./items/Font/kaushanscript-regular-webfont.woff)format(woff);
            }


            
#couche1 
{
     width:150px;
     z-index: 1;
}

.animated:hover {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  
  .animated.hinge:hover {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  
  /*the animation definition*/
  
  @-webkit-keyframes wobble {
    0% {
      -webkit-transform: none;
      transform: none
    }
    15% {
      -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
    }
    30% {
      -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
    }
    45% {
      -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)
    }
    60% {
      -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg)
    }
    75% {
      -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
    }
    100% {
      -webkit-transform: none;
      transform: none
    }
  }
  
  @keyframes wobble {
    0% {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }
    15% {
      -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      -ms-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
    }
    30% {
      -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      -ms-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
    }
    45% {
      -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
      -ms-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)
    }
    60% {
      -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
      -ms-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg)
    }
    75% {
      -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      -ms-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
    }
    100% {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }
  }
  
  .wobble:hover {
    -webkit-animation-name: wobble;
    animation-name: wobble
  }
                 
#couche2 
{   
    z-index: 2;
}
              
            
header
{      
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('./items/VECTORIEL SVG/header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    box-shadow: 0px 3px 8px black;
}


h1{
    font-family: kaushanscript;
    margin-left: 1%;
    padding-left: 0;
    color: rebeccapurple;
    font-size: 9em;
}


.rap{
display: flex;
justify-content: start;
align-items: center;
background-image: url("./items/VECTORIEL\ SVG/bande noir et jaune.svg");
background-position: center;
background-size: cover;
margin-top: 150px;
margin-left: 0px;
margin-right: auto;
width:500px;
height: 200px;
font-size: 14px;
}

#gifrap{
  margin-left: 595px;
  width: 820px;
  height: auto;
  border-radius: 50%;
  box-shadow: #d8ae18 3px 3px 5px;
  margin-bottom: 250px;
}

body{
    
    background-image: url(./items/Image/fond_rap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Histoire_Du_Rap{
    font-family: kaushanscript;
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: rgba(30, 1, 31, 0.685);
    background-color: rgba(255, 255, 255, 0.699);
    margin-bottom: 50%;
    box-shadow: 20px 30px 10px;
    border-radius: 5%;
}

#video{
  border-radius: 2%;
}


#textevideomusic{ 
    display:flex;
    /* background-color: rgb(255, 0, 0); */
   
}

#textevideo{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    /* background-color: rgb(4, 0, 255);  */
    margin-right: 5%;
    width: 30%;
    height:auto;
}

#test{
    display: flex;
    margin-bottom: 10%;
}

#son{
    align-self:center ;
    /* background-color:chartreuse; */
    width: 50%;
    margin-right: 20%;
    margin-bottom: 20%;
    }
    
nav{
    width: 100%;
    height:10%;
}
  .menu_page{
    margin-top: 50px;
    margin-bottom: -8%;
}
.menu_page ul{
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu_page a{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;   
    text-decoration: none;
    font-family: 'Gilmer_Heavy';
    color: rgb(0, 0, 0);
    background: white;
    border-radius: 25px;
    padding: 10px;
    font-size: 1.3em;
    font-family: kaushanscript;
    margin-left: 5%;
    width: 90px;
    transition: 1s;
    box-shadow: 2px 2px 8px #000000;
    background-color: rgb(228, 169, 32);
}

.menu_page a:hover{
    background-color: #ffb8116c;
    color: white;
    width: 120px;
    border-radius: 40px;
    box-shadow: 1px 1px 15px 10px #FFB711;
     
    
}

ul>*:last-child{
display: flex;
justify-self: end;
margin-left: auto;
margin-right: 5%;
}

footer{
    background-image: url('./items/VECTORIEL SVG/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100%;
    box-shadow: 0px -3px 8px black;
  }
  #navpiedpage{
    display:flex;
    flex-direction: row;
    width: 72.5%;  
  }
  #noir{
    margin-left: 3%;
    display:flex;
    width:35% ;
    justify-content: space-around;
  }
  #gris{
    margin-left: 1%;
    display:flex;
    width:35% ;
    justify-content: space-around;
  }
  #jaune{
    margin-left:1%;
    display:flex;
    width:35% ;
    justify-content: space-around;
    
  }
  .afooter{
    width: 35%;
  }

  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #c718eb90 50%, #d8ae18 50%);
    bottom:0;
    left:-50%;
    opacity:20%;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:5s;
  }

  .bg3 {
    animation-duration:5s;
  }
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }