@font-face {
    font-family: 'rubik';
    src: url('./items/Font/rubik-regular-webfont.woff2')format('woff2'),
         url('./items/Font/rubik-regular-webfont.woff')format('woff');
    font-weight: normal;
    font-style: normal;
            }
#couche1 
{
     width:150px;
     z-index: 1;
}
                 
#couche2 
{   
    z-index: 2;
}
              
            
header
{      
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('./items/VECTORIEL SVG/header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    box-shadow: 0px 3px 8px black;
}
h1{
    background-image: url("./items/VECTORIEL\ SVG/bande noir et jaune.svg");
    background-repeat: no-repeat;
}
body{
    background-image: url(./items/Image/fond_rap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1
{
    margin-top: 30px;
    margin-left: 2%;
    font-size: 90px;
    color: rebeccapurple;
}

.Histoire_Du_Rap{
    width: 40%;
    font-size: 30px;
    text-align: center;
    color: purple;
    background-color: rgba(255, 255, 255, 0.699);
    margin-bottom: 30%;
}

#textevideomusic{
    display: flex;
    background-color: red;
}

#textevideo{
    display: flex;
    flex-direction: column;
    /* ou faire un Center */
    align-items: flex-end;
    margin-right: 5%;
    background-color: blue;
}
#video{
    
}