@font-face{
    font-family: "Caslon-Bold";
    src: url(./items/Font/F37Caslon-ExtraBoldDisplay.otf);
}

@font-face{
    font-family: "Caslon-Regular";
    src: url(./items/Font/F37Caslon-RegularDisplay.otf);
}

@font-face{
    font-family: "Caslon-Semibold";
    src: url(./items/Font/F37Caslon-SemiBoldDisplay.otf);
}
*{
    margin: 0;
  }
  
  #multicouche {
  display: flex;
  justify-content: center;
      
    }
    #multicouche img {
      align-items: center;
      top: 0;
      left: 0;
    }
     
    #couche1 {
    width:150px;
      z-index: 1;
    }
     
    #couche2 {   
      
     
      z-index: 2;
    }
  
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('./items/VECTORIEL SVG/header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    box-shadow: 0px 3px 8px black;
}


body{
    height: 1200px;
	background-attachment: fixed;
    background-image:url('./items/Image/reggaetest.jpg');
    Background-repeat: no-repeat;
	Background-size: cover;
	background-position: center;
} 
#bandeblanc{
    background-color: white;
    height: 20px;
    box-shadow: 0px 2px 8px black;
}
#conteneur{
    
    margin-top: 200px;
    width: 1400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}
#para{
   
    width: 700px;
    position: absolute;
    margin-left: 700px;
    z-index:0;

}
p{
    
    background-color: rgb(0, 0, 0,0.650);
    color: white;
    text-align: justify;
    height:500px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 4px 4px 9px  #FAB711;
}
#video{
    width: 700px;
}
#play{
    position: relative;
    z-index:1;
    margin-top: 610px;
    margin-left: 520px;
}
#playlogo{
    width: 140px;
  


}
