@font-face {
    font-family: 'berkshire_swashregular';
    src: url('./items/Font/berkshireswash-regular-webfont.woff2')format('woff2'),
         url('./items/Font/berkshireswash-regular-webfont.woff')format('woff');
    font-weight: normal;
    font-style: normal;
            }
#couche1 
{
     width:150px;
     z-index: 1;
}
                 
#couche2 
{   
    z-index: 2;
}
              
            
header
{      
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('./items/VECTORIEL SVG/header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    box-shadow: 0px 3px 8px black;
}


body
{
    font-family: 'berkshire_swashregular';
    background-image: url(./items/Image/chantal-goya-tmaster_rz7snyz1adofzs-1l-90168550.jpg);
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

h1
{
    margin-top: 100px;
    margin-left: 5%;
    font-size: 100px;
    color: pink;
}

.Histoire-Du-Rock
{   
    width: 25%;
    margin-top: 150px;
    margin-left: 72%;
    font-size: 23px;
    text-align: justify;
    color: pink;
}

.Extrait-Video
{
    margin-top: 50px;
    margin-left: 64%;
}

.Extrait-Musical
{
    margin-top: 50px;
    margin-left: 64%;
    border-radius: 60px
}