@font-face {
    font-family: 'berkshire_swashregular';
    src: url('./items/Font/berkshireswash-regular-webfont.woff2')format('woff2'),
         url('./items/Font/berkshireswash-regular-webfont.woff')format('woff');
    font-weight: normal;
    font-style: normal;
            }
#couche1 
{
     width:150px;
     z-index: 1;
}

.animated:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.animated.hinge:hover {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg)
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
  }
  100% {
    -webkit-transform: none;
    transform: none
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    -ms-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    -ms-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    -ms-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    -ms-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg)
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    -ms-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
  }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

.wobble:hover {
  -webkit-animation-name: wobble;
  animation-name: wobble
}
                 
#couche2 
{   
    z-index: 2;
}
              
            
header
{      
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('./items/VECTORIEL SVG/header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    box-shadow: 0px 3px 8px black;
}

nav{
  width: 100%;
  height:10%;
}
.menu_page{
  margin-top: 50px;
}
.menu_page ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -6%;
}

.menu_page a{
  margin-top: 3.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Gilmer_Heavy';
  color: rgb(0, 0, 0);
  background: linear-gradient( #3a3a3a, #ffffff, #3a3a3a);
  border-radius: 25px;
  padding: 10px;
  font-size: 1.3em;
  margin-left: 5%;
  width: 150px;
  min-height: 40px;
  transition: 1s;
  box-shadow: 2px 2px 15px 3px #fab711;
}

.menu_page a:hover{
  /* background-color: #ffb8116c; */
  background: transparent;
  color: #000000;
  width: 200px;
  border-radius: 40px;
  box-shadow: 1px 1px 15px 10px #FFB711;


}


body
{
    font-family: 'berkshire_swashregular';
    background-image: url(./items/Image/fond_rock.jpeg);
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #000000 50%, #706e6a 50%);
    bottom:0;
    left:-50%;
    opacity:20%;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:5s;
  }

  .bg3 {
    animation-duration:5s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

.rendrepossiblelimpossible
{
display: flex;
}

h1
{
    width: 800px;
    background-size: cover;
    background-image: url("./items/VECTORIEL\ SVG/bande noir et jaune.svg");
    background-repeat: no-repeat;
    margin-top: 35px;
    margin-left: 7px;
    font-size: 150px;
    color: rgb(216, 216, 216); 
    box-shadow: #fab711;     
}

hr{ border: 1px solid #fab711; 
  border-radius: 30px;
  background-color: black;
  height: 10px;
  margin-left: 1%;
  margin-right: 1%;
  box-shadow: 0px 6px 30px 5px #fab711;
}

.Histoire-Du-Rock
{   
    padding: 50px;
    width: 25%;
    margin-top: 50px;
    margin-left: 35%;
    font-size: 23px;
    text-align: justify;
    color: rgb(212, 206, 206);
    background-color: rgba(0, 0, 0, 0.76);
    border: 2px solid #020202;
    border-radius: 20px;
    box-shadow: 0px 6px 30px 5px #fab711;
    
}

#video
{  
  margin-top: 90px; 
  display: flex;
  align-items: center;
  justify-content: center;
   
}

#tofvideo
{
  margin-left: 3%;
  margin-right: 3%;


   
}

.Extrait-Video
{
    
   
    box-shadow: 0px 6px 30px 5px #fab711;
    border-radius: 20px;
    background-color: #020202;

}

.Extrait-Musical
{
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 5px;
    box-shadow: 0px 6px 30px 5px #fab711;
    border-radius: 20px;
}

#son{
  align-items: center;
  justify-content: end;
  display: flex;
  margin-top: 4%;
  margin-bottom: 2%;
  width: 96%;
  margin-left: 2%; 
}

#casque{
  justify-content: center;
  display: flex;
  margin-right: 0.5%;
  width: 12%;
}
.shape {
-webkit-animation: shape-change 6s infinite cubic-bezier(0.63, -0.52, 0.31, 1.37);
animation: shape-change 6s infinite cubic-bezier(0.63, -0.52, 0.31, 1.37);
left: calc(50% - 3em);
top: calc(50% - 3em);
height: 100%;
width: 100%;
-webkit-transform-origin: 50% 200%;
transform-origin: 50% 200%;
}

@keyframes shape-change {
  0% {
      -webkit-transform: none;
      transform: none
  }

  10%,40% {
      -webkit-transform: none;
      transform: none;
     
      left: calc(50% - 6em)
  }

  45% {
      width: 100%;
      -webkit-transform: translate(-2em);
      transform: translate(-2em);
      left: calc(50% - 3em)
  }

  47% {
      -webkit-transform: translate(2em) rotateZ(-6deg);
      transform: translate(2em) rotateZ(-6deg)
  }

  49% {
      -webkit-transform: translate(-2em) rotateZ(7deg);
      transform: translate(-2em) rotateZ(7deg)
  }

  51% {
      -webkit-transform: translate(2em) rotateZ(-4deg);
      transform: translate(2em) rotateZ(-4deg)
  }

  55% {
      -webkit-transform: translate(-2em) rotateZ(5deg);
      transform: translate(-2em) rotateZ(5deg)
  }

  57.5% {
      -webkit-transform: translate(2em) rotateZ(-20deg);
      transform: translate(2em) rotateZ(-20deg)
  }

  60% {
      -webkit-transform: translate(-2em) rotateZ(20deg);
      transform: translate(-2em) rotateZ(20deg)
  }

  65%,100% {
      -webkit-transform: none;
      transform: none
  }
}

.bananim
{
  margin-left: 29%;
  height: auto;
  width: 800px;
  padding-top:0px;
  box-shadow: 0px 0px 50px 10px #fab711;
  border-radius: 500px;
  
}

footer{
    background-image: url('./items/VECTORIEL SVG/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100%;
    box-shadow: 0px 6px 10px 10px #fab711;
    margin-top: 4%;
  }
  #navpiedpage{
    display:flex;
    flex-direction: row;
    width: 72.5%;  
  }
  #noir{
    margin-left: 3%;
    display:flex;
    width:35% ;
    justify-content: space-around;
  }
  #gris{
    margin-left: 1%;
    display:flex;
    width:35% ;
    justify-content: space-around;
  }
  #jaune{
    margin-left:1%;
    display:flex;
    width:35% ;
    justify-content: space-around;
    
  }
  .afooter{
    width: 35%;
  }
  