@font-face {
    font-family: 'berkshire_swashregular';
    src: url('./items/Font/berkshireswash-regular-webfont.woff2')format('woff2'),
         url('./items/Font/berkshireswash-regular-webfont.woff')format('woff');
    font-weight: normal;
    font-style: normal;
            }
#couche1 
{
     width:150px;
     z-index: 1;
}
                 
#couche2 
{   
    z-index: 2;
}
              
            
header
{      
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('./items/VECTORIEL SVG/header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    box-shadow: 0px 3px 8px black;
}


body
{
    font-family: 'berkshire_swashregular';
    background-image: url(./items/Image/fond_rock.jpeg);
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

h1
{
    background-image: url("./items/VECTORIEL\ SVG/bande noir et jaune.svg");
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-left: 5%;
    font-size: 100px;
    color: rgb(221, 218, 218);
}

.Histoire-Du-Rock
{   
    padding: 50px;
    width: 25%;
    margin-top: 150px;
    margin-left: 66.5%;
    font-size: 23px;
    text-align: justify;
    color: rgb(212, 206, 206);
    background-color: rgba(0, 0, 0, 0.76);
    border: 2px solid #020202;
    border-radius: 20px;
    box-shadow: 0px 6px 14px #fab711;
    
}

.Extrait-Video
{
    margin-top: 50px;
    margin-left: 64%;
    box-shadow: 0px 6px 14px #fab711;
    border-radius: 20px;
}

.Extrait-Musical
{
    margin-top: 50px;
    margin-left: 64%;
    box-shadow: 0px 6px 14px #fab711;
    border-radius: 20px;

}