@font-face{
    font-family: "Caslon-Bold";
    src: url(./items/Font/F37Caslon-ExtraBoldDisplay.otf);
}

@font-face{
    font-family: "Caslon-Regular";
    src: url(./items/Font/F37Caslon-RegularDisplay.otf);
}

@font-face{
    font-family: "Caslon-Semibold";
    src: url(./items/Font/F37Caslon-SemiBoldDisplay.otf);
}
@font-face {
  font-family: 'berkshire_swashregular';
  src: url('./items/Font/berkshireswash-regular-webfont.woff2')format('woff2'),
       url('./items/Font/berkshireswash-regular-webfont.woff')format('woff');
  font-weight: normal;
  font-style: normal;
          }

/* Header*/

*{
  margin: 0;
}

#multicouche {
  display: flex;
  justify-content: center;
    
  }
  #multicouche img {
    align-items: center;
    top: 0;
    left: 0;
  }
   /*header*/
  #couche1 {
  width:150px;
    z-index: 1;
  }
   
  #couche2 {   
    
   
    z-index: 2;
  }


header
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('./items/VECTORIEL SVG/header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    box-shadow: 0px 3px 8px black;
}
#bandeblanc{
    background-color: white;
    height: 5px;
    box-shadow: 0px 2px 8px black;
    margin-bottom: 200px;
  }


body {
background-image: url('./items/Image/kpopv1.png');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

h1 { 
    font-family: 'berkshire_swashregular';
    color : white ;
    margin-left : 50px;
    position: absolute;
  
    
}


.bandeJauneNoire {
  height: 250px;
  width: 250px;
  
}


.extrait_video {

  margin-top: 50px;
  margin-right: 50%;
  margin: 50px;

}

.texteKpop {

    padding: 50px;
    background-color: rgba(96, 7, 104, 0.65);
    font-size :large;
    text-shadow:  2px 2px 2px #000000;
    color: #0EF1FF;
    text-align: center;
    border-radius: 10px;
    border : solid rgba(96, 7, 104, 0.65);

}

.barre_d_écoute{

  
}

